html
  head
    title= title
    style.
      .red{
        color:red;
      }
      .button{
        display : inline-block;
        padding : 7px 12px;
        background-color : blue;
        text-decoration : none;
        color : white;
        margin : 10px 10px 10px 0;
        
      }
      .hover:hover{
          background-color : green;
      }
      .delete{

          background-color : red;
          appearance: none;
          border: 1px solid red;
      }
      .container{
          width : 500px;
          padding : 5px;
          background-color : #D3D3D3;
          margin: 0 auto;
          text-align:center;
      }
      table{
        width : 100%;
        text-align:center;
        background-color : #D3D3D3;
        

      }
      th:first-child{
        width : 6%;
      }
      th{
        width:18%;
      }
      .name{
        width: 40%;
      }
      h2{
        margin-bottom:5px;
      }
    script. 
      function deleteProduct(id){   
        if (confirm('Seçilen veri silinsin mi ?') == true) {
             window.location.href=`/deleteProducts/${id}`
        }     
      }
  body            
    div.container
        h2 Products
        a(class='button hover' href=`/addProducts`) Add Product
    
        table
            tr 

                th Id 
                th.name Name 
                th UnitPrice
                th Update 
                th Delete

            each item in data
                tr  

                    if item.unitPrice>20
                        td.red= item.id 
                        td.red= item.name 
                        td.red= item.unitPrice
                        td
                          a(class='button hover' href=`/updateProducts/${item.id}`) Update
                        td 
                          input(class="delete button",type="button",value = "Delete", onclick = `deleteProduct(${item.id})`) 
                                
                    else  

                        td= item.id 
                        td= item.name 
                        td= item.unitPrice
                        td
                          a(class='button hover' href=`/updateProducts/${item.id}`) Update
                        td 
                          input(class="delete button",type="button",value = "Delete" ,onclick = `deleteProduct(${item.id})`) 
        
                              
           

     
                         
    