html
  head
    title= title
    style.
      .red{
        color:red;
      }
      .button{
        display : inline-block;
        padding : 7px 12px;
        background-color : blue;
        text-decoration : none;
        color : white;
        margin-top : 10px;
        margin-right : 10px;
      }
      .hover:hover{
        background-color : green;
      }
      .delete{
        background-color : red;
      }
    
  body
    table
        tr 
            th Id 
            th Name 
            th UnitPrice

        each item in data
            tr  
                if item.unitPrice>20
                    td.red= item.id 
                    td.red= item.name 
                    td.red= item.unitPrice
                else 
                    td= item.id 
                    td= item.name 
                    td= item.unitPrice
    a(class='button hover' href='/updateProducts') Update  
    a(class='button delete' href='/deleteProducts') Delete
    